@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.landing-page {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
}

.header-bar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 32px 32px;
}

.header-logo {
    font-size: 36px;
    color: white;
    font-weight: 900;
}

.links {
    gap: 8px;
}

a {
    color: white;
    text-decoration: none;
    padding: 4px;
}

a:hover {
    background-color: #2a3442;

}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

.hero-area {
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0px 64px 0px;
}

.hero-text-header {
    font-size: 36px;
    color: white;
    padding: 24px 24px 0px 24px;
    max-width: 450px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 16px;
    color: white;
    padding: 0px 24px 24px 24px;
    max-width: 450px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    padding: 48px;
}

.group-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: 0;
    gap: 32px;
    padding: 32px 32px 64px 32px;
}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.info-text {
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.quote-section {
    background-color: #e6e7eb;
    padding: 128px;
}

.quote1 {
    font-size: 32px;
    padding: 48px;
    font-style: italic;
    font-weight: light;
    border-radius: 32px;
    border: 4px solid #1F2937;
    margin-bottom: 64px;
}

.quote2 {
    font-size: 32px;
    padding: 48px;
    font-style: italic;
    font-weight: light;
    border-radius: 32px;
    border: 4px solid #1F2937;
}

.quote-person {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.download {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px 0px 0px 0px;
}

.download-header {
    font-size: 36px;
    color: #1F2937;
    padding: 0px 24px 24px 0px;
    max-width: 650px;
    font-weight: 900;
}

.download-text {

    padding: 0px 0px 0px 0px;
    max-width: 650px;
}

.container-download {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer {
    background-color: #1F2937;
    color: #FFffff;
    padding: 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    padding: 48px 144px 48px 144px;
    justify-content: center;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid black;
    width: 400px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #1F2937;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}